# latex undesired outputs
*.aux
*.log
*.synctex.gz
*.out
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.pdfsync



# latex build directory
_build

# latex temp files
*.pdf
*.synctex.gz
*.synctex.gz\(busy\)

# latex error log
*.log
*.synctex(busy)
